$BASE_WIDTH: 375;
$PRIMARY_COLOR: #EB6102;
$MINOR_COLOR: #E4B693;
$MINOR_BORDER_COLOR: #FBD7BB;
$PRIMARY_FONT_COLOR: #29304F;
$MINOR_FONT_COLOR: #A0A0A0;
$PRIMARY_FONT_SIZE: 14;
$PRIMARY_FONT_LINE_HEIGHT: 14;

$ASSETS_ICON_BACK_URL: '../img/icon/fanhui@3x.png';
$ASSETS_FOOTER_BG_URL: '../img/footer-bg.png';
$ASSETS_SWIPER_ITEM_BG_URL: '../img/swiper-item-bg.png';
$ASSETS_BANK_LOGO_URL: '../img/bank-logo.png';

// foreach

$margin-bottom-sizes: (
    0: 0,
    1: 15,
    2: 25
);
